:root {
    --primary: rgb(88, 88, 88);
    --secondary: rgb(240, 240, 240);
    --accent: rgb(106, 215, 254);
}

* {
    color: var(--primary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
}

h1 {
    background-color: var(--accent);
    color: var(--primary);
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    padding-left: 5%;
}

header nav {
    background-color: var(--primary);
    text-align: right;
    color: var(--accent);
    padding-top: 25px;
}

header nav a {
    background-color: var(--primary);
    color: var(--accent);
    margin-left: 15px;
    margin-right: 15px;
} 

.banner {
    background-color: var(--secondary);
    width:100%;
    height: 150px;
}

/* check into absolute positioning */
h2 {
    background-color: var(--accent);
    color: var(--primary);
    padding: 5px;
    position: relative;
    margin-left: 75%;
    margin-top: -50px;
    
}

main {
    background-color: var(--secondary);
}

section {
    display: flex;
}

h3 {
    color: var(--primary);
    font-size: 32px;
    width: 200px;
    text-align: right;
    border-right: 3px solid var(--primary);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    margin-right: -15px;
}

.cards {
    padding: 25px;
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* remove underline from text */
.cards a {
    text-decoration: none;
}

#picme {
    height: 150px;
    float: left;
    margin-right: 20px;
}

#horiseon {
    width: 61vw;
    order: -1;
    background-color: var(--accent);
    padding: 4px;
    margin: 5px;
}

.labels {
    background-color: var(--accent);
    position: relative;
    margin-left: 5px;
    margin-right: 70%;
    bottom: 100px;
    text-align: center;
    order: 1;
}

h4 {
    padding-top: 15px;
    margin: 0;
}

#smallfont {
    font-size: 8pt;
    padding-bottom: 15px;
}

#otherprojects {
    width: 30vw;
    height: 200px;
    order: -1;
    background-color: var(--accent);
    padding: 4px;
    margin: 5px;
    /* display: flex; */
}

#contactme {
    color: var(--accent);
}

#contactme a {
    color: var(--primary);
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 25px;
    text-decoration: underline;
} 

 
@media screen and (max-width: 768px) {
    header, 
    section {
        flex-direction: column;
        justify-content: none;
    }
    
    header nav {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    
    h2 {
        margin-left: 50%;
    }
    
    h3 {
        border-right: none;
        border: 3px, solid, var(--primary);
        width: 95%;
        text-align: center;
        justify-content: center;
    }
    
    .aboutme {
        display: flex;
        justify-content: center;
    }
    
    .cards {
        border: none;
    }
    
    #horiseon {
        width: 80vw;
    }
    
    #otherprojects {
        width: 80vw;
    }
    
    #contactme {
        flex-direction: column;
        text-align: center;
    }
  }