:root {
    --primary: rgb(88, 88, 88);
    --secondary: rgb(245, 245, 245);
    --accent: rgb(106, 215, 254);
}

* {
    background-color: var(--secondary);
    color: var(--primary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
}

h1 {
    background-color: var(--accent);
    color: var(--primary);
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    padding-left: 5%;
}

header nav {
    background-color: var(--primary);
    text-align: right;
    color: var(--accent);
    padding-top: 25px;
}

header nav a {
    background-color: var(--primary);
    color: var(--accent);
    margin-left: 15px;
    margin-right: 15px;
} 

.banner {
    background-color: var(--secondary);
    width:100%;
    height: 150px;
}

/* check into absolute positioning */
h2 {
    background-color: var(--accent);
    color: var(--primary);
    padding: 5px;
    position: relative;
    margin-right: 80px;
    margin-left: 75%;
    margin-top: -50px;
    
}

section {
    display: flex;
}

h3 {
    color: var(--primary);
    font-size: 32px;
    width: 200px;
    text-align: right;
}

.cards {
    border-left: 3px solid var(--primary);
    padding: 15px;
    margin: 10px;
    width: 80%;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#picme {
    height: 150px;
    float: left;
    margin-right: 20px;
}

#horiseon {
    width: 61vw;
    order: -1;
    background-color: var(--accent);
    padding: 4px;
    margin: 5px;
}

#Hlink {
    position: relative;
    margin-left: 0px;
    margin-bottom: -75px;
}

#small {
    font-size: 8pt;
}

#otherprojects {
    width: 30vw;
    height: 200px;
    order: -1;
    background-color: var(--accent);
    padding: 4px;
    margin: 5px;
}

#Olink {
    
}

#contactme {
    color: var(--accent);
    /* margin-top: 50px; */
}

#contactme a {
    color: var(--primary);
    margin-left: 5%;
    margin-right: 5%;
} 



/* elements on screen adjusts as the width changes */
/* @media screen and (min-width: 768px) { */

/* media query for larger screens */
/* @media screen and (min-width: 992px) {
    header {
    width: 75%;
}
  


